
/* .top-0 { top: 10; } */
.top-auto { top: auto; }
  
  header input[name="city"],
  header input[name="country"] {
    background-color: transparent;
    /* color: rgb(255, 255, 255); */
    border: none;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
  }
  .textarea {
    border: none;
    border-bottom: 2px solid whitesmoke;
    /* background-color: transparent; */
    resize: none;
    outline: none;
}
  